<% content_for :head do %>
  <title>Meet the Team - Sign-in with Yammer!</title>
<% end %>
<h1>Welcome to PayScale!</h1>

<div style="clear:both"></div>

<div style="clear:both"></div>

 <div class="profilecontainer">
  <div class="profile" style="font-size: 20px;">
    The PayScale Welcome Screen came out of our 9th <a href="http://blogs.payscale.com/psdev/payscale-hackday/" target="_blank">HackDay</a>.
    As our company grows, we each need to make sure we take the time to make sure we get to know
    our co-workers, even thought it's not as easy as it used to be. This is 
    <a href="https://www.yammer.com/payscale.com/users/johnl" target="_blank">John</a> 
    and <a href="https://www.yammer.com/payscale.com/users/adamp" target="_blank">Adam</a>'s
    attempt to help us stay start-up.
    <br /><br />
    Sign in with Yammer, and get the welcome screen going.
    <br /><br />
    <a href="/auth/yammer">
      <img src="/assets/yammer-signin.png" />
    </a>
    <br /><br />
    <span style="font-size: 15px">Want to exclude yourself? Add "Not the welcome screen" to your "interests" in your Yammer profile.</span>	
  </div>
</div>
