/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-image:url('/assets/office_medium.jpg');
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  background-color:rgba(255,255,255, .9);
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  padding-left: 20px;
  font-size: 50px;
  font-weight: normal;
}

.login {
  float: right;
  font-size: small;
}

.profilecontainer {
  position:absolute;
  width:100%;
}

.profile {
  background-color:rgba(255,255,255, .9);
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  padding: 20px;
  width: 85%
}

.profiledata {
  float: left;
  padding: 20px;
  font-size: 25px;
}

.profilesynopsis {
  width: 600px;
}

.logo {
  float: right;
  background-color:rgba(255,255,255, .95);
  padding: 20px;
}
